<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <style>
        body {
            width: 100%;
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
        }
    </style>
</head>
<body class="text-center">
<h1>Page Not Found</h1>
</body>
</html>