<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            width: 100%;
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .form-signin .has-error {
            color: red;
        }
    </style>
    <script type="text/javascript">
      const message = "<%= message; %>";

      if (message) {
        alert(message);
      }

      function goToSignupPage() {
        window.location.href = "/sso/signup" + document.location.search;
      }
    </script>
    <title>Login</title>
</head>
<body class="text-center">
<form class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">SSO server sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="<%= username; %>" name="username" id="inputUsername" class="form-control"
           placeholder="Username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" value="<%= password; %>" name="password" id="inputPassword" class="form-control"
           placeholder="Password" required>
    <div class="checkbox mb-3">
        <% if(!!error){ %>
            <span class="has-error"><%= error %></span>
        <% } %>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br>
    <button class="btn btn-link" onclick="goToSignupPage()">Sign Up</button>
</form>
</body>
</html>